<table class="table table-hover">
    <thead>
        <tr>    
            <th scope="col">Nome</th>
            <th scope="col">Playcount</th>
            <th scope="col">URL</th>
        </tr>
        <tbody>
            {{#each this}}
                <tr scope="row">
					<td><a href="#albums/{{this.mbid}}/tracks">{{this.name}}</a></td>
                    <td>{{this.playcount}}</td>
                    <td>{{this.url}}</td>
                </tr>
            {{/each}}
        </tbody>
    </thead>
</table>