<table class="table table-hover">
    <thead>
        <tr>    
            <th scope="col">Nome da Música</th>
            <th scope="col">Duração da Música</th>
            <th scope="col">URL</th>
        </tr>
        <tbody>
            {{#each this.tracks.track}}
                <tr scope="row">
					<td>{{name}}</a></td>
                    <td>{{duration}}</td>
                    <td><a href="{{url}}">{{url}}</a></td>
                </tr>
            {{/each}}
        </tbody>
    </thead>
</table>