<table class="table table-hover">
    <thead>
        <tr>    
            <th scope="col">Nome da Música</th>
            <th scope="col">Duração da Música</th>
            <th scope="col">URL</th>
        </tr>
        <tbody>
            {{#each this}}
                <tr scope="row">
					<td>{{this.tracks.track.name}}</a></td>
                    <td>{{this.tracks.track.duration}}</td>
                    <td>{{this.tracks.track.url}}</td>
                </tr>
            {{/each}}
        </tbody>
    </thead>
</table>