<center>
	<h2>Artistas
	</h2>
</center>
<form>
  <div class="form row">
        <div class="form-group col-md-3">
            <label for="artistName">Nome do Artista:</label>
            <input type="text" class="form-control" placeholder="nome do artista" name="artistName" id="artistName">
       </div>
	   <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" id="buttonSearch">Procurar</button>
        </div>
	</div>
</form> 
<div class="card">
    <div class="card-body" id="divArtistsResults"></div>
</div> 