<table class="table table-hover">
    <thead>
    <tr>             
        <th scope="col">Nome</th>
        <th scope="col">URL</th>
		<th scope="col">Duração</th>
		<th scope="col"></th>
        <th></th>
    </tr>
	
    <tbody>
        {{#each this.musics}}
            <tr scope="row">
                <td>{{this.name}}</td>
                <td>{{this.url}}</td>
                <td>{{this.duration}}</td>
				<td><button id="buttonDeleteMusic_{{this.duration}}">Retirar música da lista</button></td>
            </tr>
        {{/each}}
    </tbody>
    </thead>
</table>