<body>
    <div class="container-fluid">
        <br>
        <h1>
            Yet Another Music Application
        </h1>
        <div id="divNavbar">
			
        </div>
        <hr>
        <div id="divAlerts">
			
        </div>
        <div id="divMain">
        </div>
        <div>
            <div class="card-footer">
                References
            </div>
            <div class="card-body">
                <ul>
                    <li class="card-text">
                        Application built with Node.js support.
                    </li>
                    <li class="card-text">
                        <a href="https://www.last.fm/api/intro" target="_blank">
                            Last.fm Web Services
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>