<nav>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a id="nav#home" class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
            <a id="nav#playlist" class="nav-link" href="#playlist">playlist</a>
        </li>
        <li class="nav-item">
            <a id="nav#playlists" class="nav-link" href="#playlists">playlists</a>
        </li>
    </ul>
</nav>